#title {
  background-color: #ee334f;
  color: #fff;
}
.container-fluid {
  padding: 3% 15%;
}
h1 {
  font-family: "Montserrat", sans-serif;
  size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  line-height: 1.5;
}
.navbar-nav {
  margin-left: auto;
}
.nav-item {
  padding: 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/*Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title-image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: relative;
}

/* Features */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
.box-features {
  text-align: center;
  padding: 5%;
}
.icon-features {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon-features:hover {
  color: #ff4c68;
}
.h3-features {
  font-family: "Montserrat", sans-serif;
  size: 1.5rem;
}
.features-paragraph {
  color: #8f8f8f;
}

/* Testimonials Section*/

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}
.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 10% 7%;
}

#press {
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */

#cta {
  text-align: center;
  background-color: #f0455e;
  color: #fff;
  padding-bottom: 50px;
}
.cta-h3 {
  font-family: "Montserrat", sans-serif;
  padding: 5% 20% 0;
  font-size: 3rem;
}

/* Footer Section */

#footer {
  text-align: center;
  background-color: #fff;
  padding: 5% 15%;
}
.footer-icon {
  padding: 2% 1%;
}
p {
  color: gray;
  margin-bottom: 100px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    transform: rotate(0);
  }
}
